<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/chat.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="" id="messageForm">
                    <div class="input-group mb-3">
                        <!-- <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" > -->
                        <input type="text" class="form-control" autocomplete="off" placeholder="chat..." id="messageInput">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col" id="messagesContainer">
                <!-- Chat Messages Here -->
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>
</body>
</html>
    